<div id="<%= dom_id game %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Room:</strong>
    <%= game.room_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Is finished:</strong>
    <%= game.is_finished %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Players:</strong>
    <% game.players.each do |player| %>
      <div class="list-item ml-5  marker:text-<%= player["color"] %>-500 text-3xl">
        <%= player["name"] %> - <%= player["color"] %>
      </div>
    <% end %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Current player:</strong>
    <% game.current_player.tap do |player| %>
      <div class="list-item ml-5  marker:text-<%= player["color"] %>-500 text-3xl">
        <%= player["name"] %> - <%= player["color"] %>
      </div>
    <% end %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Steps:</strong>
    <%= game.steps %>
  </p>
</div>
